<!--
<div class="secondary_page_bg">
	<div class="category_illustration">
    <div class="punchline_services">
      <h2>Let our Web and Screencasting experience work to your advantage!</h2>
    </div>
    <%# <!--<img class="mouse" src="images/mouse.png" width="242" height="142" alt="About us" /> --> %>
  </div> 
</div>
-->

<div class="sec_menu">
	<div class="sec_menu_content">
  	<ul class="secondary_menu secondary_menu_services">
    	<li><span>RedGrind Services:</span></li>
    	  <!--
        <li class="sec_menu_selected">
        	<div class="sec_menu_selected_left"></div>
            <div class="sec_menu_selected_middle">All services</div>
            <div class="sec_menu_selected_right"></div>
        </li>
        -->
        <li>Web Application Development</li>
        <li>Screencast Production</li>
      </ul>
    </div> <!-- .sec_menu_content -->
</div> <!-- .SEC_MENU -->

<div class="content">
	<div class="secondary_pages_content">
    <div class="one_column">
    	<h1>We offer Web Application and Screencast development services</h1>
    	<p class="subtitle">
    	  Committed to our craft.  Looking forward to building a relationship with you growing business.
    	</p>
      <div class="large_box">
      	<a class="contact_for_quote" href="/contacts/new"></a>
          <div class="large_box_top"></div>
          <div class="large_box_middle">
            <p>
              We have been developing web applications for 10 years.  We understand the challenges of operating
              as a small business.  We want to get your application up and running fast, and hear your feedback as 
              soon as possible.  We use the latest web technologies and deploy to the cloud, allowing your
              app to grow with your customer base.
            </p>
          </div>
          <div class="large_box_bottom"></div>
      </div> <!-- .large_box -->
      <div class="clear_container"></div>
    </div>
    
    <div class="two_columns">
    	<div class="service">
      	<img class="services_icon" src="images/rails.png" alt="RedGrind Web Application Development" />
          <div class="service_text">
            <h5>Web Application Development</h5>
            <p>
              We collaborate with you to understand the details surrounding your idea and your business.
              From there, we turn this into a carefully 
              crafted and usable design, and deliver an implementation with Ruby on Rails on the 
              Amazon cloud.  Our experience puts us in a unique position to understand web application
              development, plus the passions and needs of small businesses.
            </p> 
            <p>
              Because we are small, we dedicate time to only 2 projects concurrently to give your 
              business the focus it needs to succeed.  You view our work live on our Test
              servers throughout the entire process -- resulting in the exact product you had in mind! 
            </p>
            <a class="related_projects" href="/contacts/new">Contact us for more info</a>
          </div>
        </div> <!-- .service -->
        
        <div class="service services_no_margin">
          <img class="services_icon" src="images/internet_marketing_icon.jpg" alt="The Cloud" />
          <div class="service_text">
              <h5>The Cloud</h5>
              <p>
                When you build a web application, you want reliability and scalability.  What
                you don't want is the cost of 100,000 concurrent users when your site is experiencing
                500 concurrent users.  This is where the Cloud comes in.  We partner with cloud providers
                so that as your user adoption grows, the site scales along with it.  You pay for what
                you use, instead of making huge infrastructure investments before they are needed.
              </p> 
              <p>
                Your apps scale in three main areas: the database performance, web application performance,
                and background task performance.  We engineer your app from the start per your
                business needs, providing the ability to scale as your users and revenues grow!
              </p>
              <a class="related_projects" href="/contacts/new">Contact Us for moreinfo</a>
          </div>
        </div>
        <!-- .service -->
        <div class="clear_container"></div>
        
        <div class="service">
        	<img class="services_icon" src="images/redgrind_screencast_action.png" alt="Screencast Production" />
          <div class="service_text">
              <h5>Screencast Production</h5>
              <p>
                We are experts in screencasting, with over 5 years experience producing instructional
                materials for web applications.  Does your product need a professional screencasting touch?
                Need to produce instructional material?  
              </p> 
              <p>
                Redgrind Screencast products are of the highest audio and video quality 
              </p>
              <a class="related_projects" href="/screencasts">View available screencasts</a>
          </div>
        </div>
        <!-- .service -->
        
        <div class="service services_no_margin">
        	<img class="services_icon" src="images/screencast_piazza.png" alt="Screencast Piazza" />
          <div class="service_text">
            <h5>Screencast Piazza</h5>
            <p>
              If you're a fellow individual entrepreneur, a small business who wants to give your
              employees training in a particular technology, or just want to learn, RedGrind offers
              a growing suite of Screencasts for sale.  
            </p> 
            <p>
              Hour long tutorials from an expert can cost hundreds of dollars -- RedGrind gives you 
              a professionally produced, DRM free downloadable screencast that is yours to keep for $10.
              With this you can re-watch chapters to master concepts, pause while you practice on your 
              own machine, or review the subject matter weeks after initial viewing.  
            </p>
            <a class="related_projects" href="/screencasts">View available screencasts</a>
          </div>
        </div><!-- .service -->
        <div class="clear_container"></div>
        <br /><br />
    </div>
    <!-- two_columns -->
  </div>
  
  <!-- secondary_pages_content -->
  <div class="clear_container"></div>
    
</div> <!-- .CONTENT -->

