#contact-page .screenReader { left: -9999px; position: absolute; top: -9999px; }
#contact-page ol.forms{float:left;list-style:none;width:100%;margin:10px 0 0;}
#contact-page ol.forms li{clear:both;float:left;margin-bottom:18px;position:relative;width:100%;}
#contact-page ol.forms label{cursor:pointer;display:block;float:left;font-weight:700;padding-right:20px;width:100px;}
#contact-page ol.forms input,#contact-page ol.forms textarea{background:#fcfcfc;border:3px solid #e2e2e2;width:214px;padding:7px 10px;}
#contact-page ol.forms input#sendCopy{border:none;}
#contact-page ol.forms textarea{height:300px;width:400px;}
#contact-page ol.forms li .error{font-size:12px;display:block;margin-left:120px;color:red;}
#contact-page ol.forms li.textarea .error{display:block; margin-left:120px}
#contact-page ol.forms li.screenReader{margin-bottom:0;}
#contact-page ol.forms li.buttons .submit{
	margin: 15px 0 0 120px; 
	background:#f0f0f0; 
	color:#333; 
	font-size:12px; 
	text-transform:uppercase; 
	border:none; 
	padding:4px 25px 4px 15px;
	cursor:pointer;
}
#contact-page ol.forms li.buttons .submit:hover{background:#06a0f0; color:#fff; cursor:pointer;}
#contact-page ol.forms li.buttons .submit:active{left:-1px;position:relative;top:-1px;}
#contact-page ol.forms li.inline input{width:auto;margin-left:120px;}
#contact-page ol.forms li.inline label{display:inline;float:none;width:auto;}
#contact-page #contactForm ol.forms .inputError { border: 3px solid #EFDADA; }
#contact-page ol.forms li.buttons .submit,
#contact-page ol.forms input,#contact-page ol.forms textarea{ border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;  }
#contact-page p.error { background:#f6a6a6;border:1px solid #e76868;padding:10px; margin-bottom:20px; }
#contact-page .thanks{background:#fafafa;border:1px solid #ddd;padding:10px 20px; margin-bottom:20px;}
