/* 
custom styles here instead of style.css so it 
is easier to update
*/

div.subnav{
	text-align:center;
	font-size:0.9em;
	margin-top:2px;
	
}
div.subnav span{
	padding:4px 8px;
	background: rgba(150,150,150, 0.3);
	-moz-border-radius-bottomright: 8px;
	border-bottom-right-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-left-radius: 8px;
	color:#DDD;
}

div.basic_content{
	padding-left:20px;
	padding-top:10px;
}

