<div class="footer">
	<div class="footer_content">
    <div class="footer_left">
    	<p>
    	  SITE &copy; <%= Time.now.year %> 
    		RedGrind, LLC&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;all rights reserved
    	</p>
      <!-- <a class="rss" href="">subscribe to our rss feed</a> -->
    </div><!-- /.footer_left -->    
    <div class="footer_right">
      <!--
    	<p>
    	  <a href="#">privacy statement</a>
    	  &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    	  <a href="#">terms &amp; conditions</a>
    	</p>
    	-->
    </div><!-- .footer_right -->      
  </div><!-- /.footer_content -->
</div> <!-- /.FOOTER -->