<div class="latest_project">
	<div class="project">
	  
    <div class="tabb displayslide" id="slide1">      
  		<div class="project_table">
  			<div class="project_screens">
  				<div class="web_projects parallax">
  					<!--
  					<div style="width:284px; height:252px;">
  						<img src="images/window2.png" style="position:absolute; right:0px; top:80px;" alt="RedGrind Screencasts" />
  					</div>
					  -->
  					<div style="width:352px; height:310px;">
  						<img src="images/window1.png" style="position: absolute; right:-100px; top:35px;" alt="RedGrind Screencasts" />
  					</div>
  					
  				</div>
  			</div><!-- .project_screens -->
                    
  			<div class="project_text_right"> 
  			  <h1>Latest Project</h1>
  				<p>
  				  <strong>EyeOnMajors.com</strong> is a social application for golf's major championships.
  				  With over 5,000 members, it is a growing community of golf fan's who gather with
  				  friends, family, and co-workers throughout the year.  It is a unique and performant
  				  fantasy golf application, complete with automated scoring system.
  				</p>
  				<a class="view_proiect" href="/work"></a>
  			</div> <!-- .project_text_right -->
  		</div> <!-- .project_table -->
  	</div> <!-- #slide1 -->
         
    <div class="tabb displaynone" id="slide2">      
  		<div class="project_table">
  			<div class="project_text_left"> 
  				<h1>Screencasts</h1>
  				<p>
  				  RedGrind specializes in building high quality instructional screencasts.  Building a 
  				  growing library of informative screencasts for sale, as well as offering our services
  				  to build a customized screencast for you and your product!
  				</p>
          <a class="view_proiect" href="/services"></a>
  			</div> <!-- .project_text_left -->
                   
  			<div class="project_screens">
  				<div class="web_projects parallax"> <!-- -->
  					<div style="width:352px; height:310px;">
  						<img src="images/redgrind_screencast.png" style="position: absolute; right:-230px; top:0px;" alt="EyeOnMajors.com" />
  					</div>
  				</div>
  			</div><!-- .project_screens -->
  		</div><!-- .project_table -->
    </div>  <!-- #slide2 -->
    
  	<div class="tabb displaynone" id="slide3">      
  		<div class="project_table">
  			<div class="project_text_left"> 
  				<h1>Screencast Production</h1>
  				<p>
  				  Do you have an application with features you'd like to better communicate? 
  				  Let us produce your next screencast!  Our experience and expertise can be your asset, 
  				  allowing you to focus on what's important -- your business!
  				</p>
  				<a class="view_proiect" href="/services"></a>
  			</div> <!-- .project_text_left -->
        <div class="project_screens">
  				<div class="phones parallax">
  					<div style="width:131px; height:223px;">
  						<img src="images/screencast_production.png" 
  						     style="position: absolute; right: -180px; top: 0px;" alt="Project screen" />
  					</div>
  				</div>
  			</div> <!-- .project_screens -->
  		</div> <!-- .project_table -->  
  	</div>  <!-- #slide3 -->
</div> <!-- .project -->

</div><!-- .LATEST_PROJECT -->