<div class="sec_menu">
	<div class="sec_menu_content">
  	<div class="previous_button">
      <a class="previous" href="javascript:void(0);" onclick="prevSlide();"></a>
    </div><!-- .previous_button -->
                
    <div class="tabbicos float_left">
      <ul class="project_bubles">
				<li>
				  <a href="javascript:void(0);" id="slide-tab1" 
				     onclick="changeSlide2this(1);" class="active" >&nbsp;</a>
				</li>
				<li>
			    <a href="javascript:void(0);"  id="slide-tab2" 
			      onclick="changeSlide2this(2);" >&nbsp;</a>
			  </li>
				<li>
				  <a href="javascript:void(0);"  id="slide-tab3" 
				    onclick="changeSlide2this(3);" >&nbsp;</a>
				</li>
			</ul>
		  <div style="clear:both;"></div>
    </div><!-- /.tabbicos -->
    <div class="next_button" style="width:71px">
      <a class="next" href="javascript:void(0);" onclick="nextSlide();"></a>
    </div>  
    <div class="clear_container"></div>        	           
  </div><!-- /.sec_menu_content -->
</div><!-- .SEC_MENU -->