
<div class="content">
	<div class="content_left">
		<img class="newspaper_icon png" width="63" height="53" 
		    src="images/newspaper_icon.png" alt="News &amp; Highlights" />
    <h2>News &amp; Highlights</h2>
    <p class="subtitle">What we’ve been up to lately</p>
    <div class="clear_container"></div>
    <h6>@Twitter Commenter</h6>
    <p>We’ve just finished the new awesome project. It has been a great time for us these months.</p>
    
    <h6>Our new Blog is NOW LIVE</h6>
    <p>The new blog is up and running. Enjoy guys!</p>
  </div><!--/ content_left -->
    
  <div class="content_middle">
		<img class="newspaper_icon png" width="63" height="53" 
		     src="images/clients_icon.png" alt="Clients &amp; Testimonials" />
    <h2>Clients &amp; Testimonials</h2>
    <p class="subtitle">What others have to say about us</p>
    <div class="clear_container"></div>
    <img class="cite_icon png" src="images/cite_icon.png" width="21" height="19" alt="Citation" />
    <cite>
      We partnered with RedGrind to create EyeOnMajors.com and couldn't be happier with the results.  
      This is a valued relationship for us.
    </cite>
    <h6 class="testimonial_name">Mark Holton, EyeOnMajors.com</h6>
    <div class="clear_container"></div>
  </div><!-- /content_middle -->
    
  <div class="content_right">
  	<ul>
		  <li>
		    <a class="social_networking_link" href="#" title="flickr">
		      <img src="images/flickr.jpg" alt="flickr" />
		    </a>
		  </li>
      <li>
        <a class="social_networking_link" href="#" title="facebook">
          <img src="images/facebook.jpg" alt="facebook" />
        </a>
      </li>
      <li>
        <a class="social_networking_link" href="#" title="LinkediIn">
          <img src="images/linkedin.jpg" alt="LinkedIn" />
        </a>
      </li>
      <li>
        <a class="social_networking_link" href="#" title="twitter">
          <img src="images/twitter.jpg" alt="twitter" />
        </a>
      </li>
    </ul>
	</div><!-- /content_right -->

  <div class="clear_container"></div>
    
</div><!-- /.CONTENT -->