
<div class="secondary_page_bg">
	<div class="category_illustration">
    	<img class="laptop png" src="images/laptop.png" width="379" height="113" alt="About us" />
    	<div class="punchline_work">
        	<h2>Selection of our most appreciated works</h2>
            <p style="color:#BBB;">If you like what you see get in touch with us!</p>
        </div>
    </div>
<!-- .project -->
</div>
<!-- .LATEST_PROJECT -->

<div class="sec_menu">
	<div class="sec_menu_content">
    	<ul class="secondary_menu">
        	<li><span>Filter by:</span></li>
            <li><a href="#">All work</a></li>
            <li class="sec_menu_selected">
            	<div class="sec_menu_selected_left"></div>
                <div class="sec_menu_selected_middle">Web</div>
                <div class="sec_menu_selected_right"></div>
            </li>
            <li><a href="#">Screencasts</a></li>
        </ul>
    </div>
    <!-- .sec_menu_content -->
</div>
<!-- .SEC_MENU -->

<div class="content">
	<div class="secondary_pages_content">
        <div class="work_project">
        	<a class="project_hover" href="images/projects/project1_lightbox.jpg" rel="lightbox[roadtrip1]" title="Online electronics shop">&nbsp;</a>
        	<a href="images/projects/project2_lightbox.jpg" rel="lightbox[roadtrip1]" title="Online electronics shop"></a>
        	<img src="images/projects/project1.jpg" alt="Name of the project" />
            <a class="project_title" href="#">Online electronics shop</a>
            <p>We’ve just finished the new awesome project. It has been a great time for us these months.</p>
        </div>
        <!-- .work_project -->
        
        <div class="work_project">
        	<a class="project_hover" href="images/projects/project1_lightbox.jpg" rel="lightbox[roadtrip2]" title="Online electronics shop"></a>
        	<a href="images/projects/project2_lightbox.jpg" rel="lightbox[roadtrip2]" title="Online electronics shop"></a>
        	<img src="images/projects/project2.jpg" alt="Name of the project" />
            <a class="project_title" href="#">Fresh Foods inc.</a>
            <p>We’ve just finished the new awesome project. It has been a great time for us these months.</p>
        </div>
        <!-- .work_project -->
        
        <div class="work_project last_project">
        	<a class="project_hover" href="images/projects/project1_lightbox.jpg" rel="lightbox[roadtrip3]" title="Online electronics shop"></a>
        	<a href="images/projects/project2_lightbox.jpg" rel="lightbox[roadtrip3]" title="Online electronics shop"></a>
        	<img src="images/projects/project3.jpg" alt="Name of the project" />
            <a class="project_title" href="#">Interactive company</a>
            <p>We’ve just finished the new awesome project. It has been a great time for us these months.</p>
        </div>
        <!-- .work_project -->

        <div class="clear_container"></div>
        <br /> <br />
        <div class="work_project">
        	<a class="project_hover" href="images/projects/project1_lightbox.jpg" rel="lightbox[roadtrip4]" title="Online electronics shop"></a>
        	<a href="images/projects/project2_lightbox.jpg" rel="lightbox[roadtrip4]" title="Online electronics shop"></a>
        	<img src="images/projects/project4.jpg" alt="Name of the project" />
            <a class="project_title" href="#">Software App website</a>
            <p>We’ve just finished the new awesome project. It has been a great time for us these months.</p>
        </div>
        <!-- .work_project -->
        
        <div class="work_project">
        	<a class="project_hover" href="images/projects/project1_lightbox.jpg" rel="lightbox[roadtrip5]" title="Online electronics shop"></a>
        	<a href="images/projects/project2_lightbox.jpg" rel="lightbox[roadtrip5]" title="Online electronics shop"></a>
        	<img src="images/projects/project5.jpg" alt="Name of the project" />
            <a class="project_title" href="#">CardCrafters microsite</a>
            <p>We’ve just finished the new awesome project. It has been a great time for us these months.</p>
        </div>
        <!-- .work_project -->
        
        <div class="work_project last_project">
        	<a class="project_hover" href="images/projects/project1_lightbox.jpg" rel="lightbox[roadtrip6]" title="Online electronics shop"></a>
        	<a href="images/projects/project2_lightbox.jpg" rel="lightbox[roadtrip6]" title="Online electronics shop"></a>
        	<img src="images/projects/project6.jpg" alt="Name of the project" />
            <a class="project_title" href="#">Stylish Art Gallery</a>
            <p>We’ve just finished the new awesome project. It has been a great time for us these months.</p>
        </div>
        <!-- .work_project -->
        
        <div class="clear_container"></div>
        <br /> <br />
        <div class="work_project">
        	<a class="project_hover" href="images/projects/project1_lightbox.jpg" rel="lightbox[roadtrip7]" title="Online electronics shop"></a>
        	<a href="images/projects/project2_lightbox.jpg" rel="lightbox[roadtrip7]" title="Online electronics shop"></a>
        	<img src="images/projects/project7.jpg" alt="Name of the project" />
            <a class="project_title" href="#">Recruitment Firm website</a>
            <p>We’ve just finished the new awesome project. It has been a great time for us these months.</p>
        </div>
        <!-- .work_project -->
        
        <div class="work_project">
        	<a class="project_hover" href="images/projects/project1_lightbox.jpg" rel="lightbox[roadtrip8]" title="Online electronics shop"></a>
        	<a href="images/projects/project2_lightbox.jpg" rel="lightbox[roadtrip8]" title="Online electronics shop"></a>
        	<img src="images/projects/project8.jpg" alt="Name of the project" />
            <a class="project_title" href="#">Mobile app design</a>
            <p>We’ve just finished the new awesome project. It has been a great time for us these months.</p>
        </div>
        <!-- .work_project -->
</div>
    <!-- secondary_pages_content -->
    
    <div class="clear_container"></div>
    
</div>
<!-- .CONTENT -->