
<div class="secondary_page_bg">
  <div class="category_illustration">
  	<div class="punchline_contact">
      <h2>Contact us using the form below</h2>
      <p>We answer every single message. That's a promise.</p>
    </div>
    <img class="phone" src="/images/phone.png" width="216" height="159" alt="Contact" />
  </div>
<!-- .project -->
</div>
<!-- .LATEST_PROJECT -->

<div class="sec_menu">
	<div class="sec_menu_content">
    	<ul class="secondary_menu secondary_menu_contact">
        	<li><span>Our Address:</span> PO Box 13995 | Mill Creek, WA 98082-1995</li>
        	<li><span>Ph:</span> 425.345.6764</li>
        	<li><span>Email:</span> redgrind@gmail.com</li>
        </ul>
    </div>
    <!-- .sec_menu_content -->
</div>
<!-- .SEC_MENU -->

<div class="content">
	<div class="secondary_pages_content">
    	<h1>Have a Screencast or Web Application project for us?</h1>
      <p class="subtitle">Request a quote below or let's just get in touch</p>

	<div class="contact_box">
        	<div class="contact_box_top"></div>
            <div class="contact_box_middle">
              <%= render 'form' %>
            </div>
            <div class="contact_box_bottom"></div>
        </div>
        <!-- contact_box -->
</div>
    <!-- secondary_pages_content -->
    
    <div class="clear_container"></div>
    <br /><br />
    
</div>
<!-- .CONTENT -->
