<h1>Screencast#index</h1>
<p>Find me in app/views/screencast/index.html.erb</p>

<script type="text/javascript" src="http://cdn.sublimevideo.net/js/p2p46ypj.js"></script>

<video class="sublime" width="640" height="360" poster="video-poster.jpg" preload="none">
  <source src="http://yoursite.com/video.mp4" />
  <source src="http://yoursite.com/video.ogv" />
</video>