<div class="secondary_page_bg">
	<div class="category_illustration">
    <img class="laptop png" src="/images/laptop.png" width="379" height="113" alt="About us" />
  	<div class="punchline_work">
      <h2>RedGrind Screencasts</h2>
      <p style="color:#BBB;">Producing approximately 1 <strong>screencast</strong> per month</p>
    </div>
  </div> <!-- .project -->
</div> <!-- .LATEST_PROJECT -->

<div class="sec_menu">
	<div class="sec_menu_content">
  	<ul class="secondary_menu">
    	<li><span>Screencasts:</span></li>
      <li class="sec_menu_selected">
        <div class="sec_menu_selected_left"></div>
        <div class="sec_menu_selected_middle">All</div>
        <div class="sec_menu_selected_right"></div>
      </li>
      <!--
      <li class="sec_menu_selected">
        <div class="sec_menu_selected_left"></div>
        <div class="sec_menu_selected_middle">Web</div>
        <div class="sec_menu_selected_right"></div>
      </li>
      <li><a href="#">Productivity</a></li>
      <li><a href="#">Rails</a></li>
      -->
    </ul>
  </div> <!-- .sec_menu_content -->
</div> <!-- .SEC_MENU -->

<div class="content">
  <div class="secondary_pages_content">
	  <% num = 0 %>
	  <% for screencast in @screencasts %>
	    <% num += 1 %>
	    <div class="work_project <% if num%3 == 0 %>last_project<% end %>"> 
	      <!--
      	<a class="project_hover" href="images/projects/project1_lightbox.jpg" rel="lightbox[roadtrip1]" title="Online electronics shop">&nbsp;</a>
      	<%# link_to ""%>
      	-->
      	<!--
      	<a href="images/projects/project2_lightbox.jpg" rel="lightbox[roadtrip1]" title="Online electronics shop"></a>
      	-->
      	<%# link_to "", "#{@s3base}/#{screencast.small_screenshot}", :class => "project_title" %>
      	<%= image_tag "#{@s3base}/#{screencast.small_screenshot}", :alt => screencast.name %>
      	<%= link_to "#{screencast.name}", screencast, :class => "project_title" %>
      	<span class="cost">
      	  <%=h number_to_currency screencast.cost_in_pennies/100, :unit => '$', :separator => ".", :delimiter => "," %>
      	</span>
        <p><%= screencast.description %></p>
      </div> <!-- .work_project -->
      
      <% if num%3 == 0 %>
        <div class="clear_container"></div><br /><br />
      <% end %>
      
	  <% end %>
	  
    <div class="clear_container"></div>
    </div>
</div>
<!-- .CONTENT -->