<img class="newspaper_icon png" src="images/rails.png" alt="Rails" />
<h1>Ruby on Rails</h1>
<p class="subtitle">We are a Ruby on Rails Web Application Development shop</p>
<div class="clear_container"></div>

<div class="two_columns">
	<div class="text">
	  <h6>Why Ruby on Rails?</h6>
    <p>
      Ruby on Rails allows us to develop, test, and deploy web applications the right way and do so
      efficiently. Updates and revisions can be made
      nearly instantaneously, tailoring the application to the clients’ needs. Our partners and clients
      appreciate seeing working prototypes after just a few days into the project. Ruby Rails espouses 
      pragmatism throughout the framework resulting in more enjoyable programming, which makes us eager
      to grow your project and take on the next project.  When practiced properly Rails results in 
      quality, scalable web applications.
    </p>
    <p>
      Start your business and web application on the right track -- 
      <%= link_to "contact RedGrind", new_contact_path %> to get started!
    </p>
  </div>
  
  <%= render 'about/testimonials'%>
</div> <!-- /two_columns -->
<div class="clear_container"></div>