<img class="newspaper_icon png" width="83" height="67" src="images/award_icon.jpg" alt="Awards" />
<h1>Ruby on Rails</h1>
<p class="subtitle">We are a Ruby on Rails Web Application Development shop</p>
<div class="clear_container"></div>

<div class="two_columns">
	<div class="text">
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
      when an unknown printer took a galley of type and scrambled it to make a type 
      specimen book. It has survived not only five centuries.
    </p>
    <p>
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
      when an unknown printer took a galley of type and scrambled it to make a type 
      specimen book. It has survived not only five centuries.
    </p>
  </div>
  
  <%= render 'about/testimonials'%>
</div> <!-- /two_columns -->
<div class="clear_container"></div>