<div class="services_we_offer">
  <h5>The services we offer</h5>
  <p>We can help you in the following domains:</p> 
  <div class="box">
    <div class="box_top"></div>
    <div class="box_middle">
      <ul class="third_menu">
        <li><a href="services.html">Web Application Development</a></li>
        <li class="first"><a href="services.html">Screencast Production</a></li>
      </ul>
    </div>
    <div class="box_bottom"></div>
  </div> <!-- /box -->
</div>