<div class="social_header_links">
	<div class="follow_us">Get to know us better:</div>
  <ul class="about_social_network">
    <li><a class="twitter_header" target="_blank" href="http://twitter.com/markholton"></a></li>
  	<li><a class="flickr_header" target="_blank" href="http://www.flickr.com/photos/53234803@N05/"></a></li>
  	<li><a class="linkedin_header" target="_blank" href="http://www.linkedin.com/profile/view?id=32021710"></a></li>
  	<li><a class="facebook_header" target="_blank" href="http://www.facebook.com/pages/EyeOnMajorscom/104616299076"></a></li>
  </ul>
</div>
