<div class="social_header_links">
	<div class="follow_us">Follow us on:</div>
  <ul class="about_social_network">
    <li><a class="twitter_header" href="#"></a></li>
  	<li><a class="flickr_header" href="#"></a></li>
  	<li><a class="linkedin_header" href="#"></a></li>
  	<li><a class="facebook_header" href="#"></a></li>
  </ul>
</div>
