<div class="header">
	<div class="header_content">
  	<a href="/">
	    <%= image_tag("logo.png", :size => "205x40", 
	        :alt => "RedGrind Screencast and Web Application Development",
	        :class => "logo png", :title => "Go to RedGrind Homepage") %>        
	  </a>
        
    <ul class="main_menu">
    	<li class="<% if controller.controller_name == 'home'%>selected_page<% end %>">
      	<a class="homepage" href="/"></a>
      </li>
    	<li class="<% if controller.controller_name == 'about'%>selected_page<% end %>">
    	  <a href="/about">About</a>
    	</li>
      <li class="<% if controller.controller_name == 'screencast'%>selected_page<% end %>">
        <a href="/screencasts">Screencasts</a>
      </li>
      <li class="<% if controller.controller_name == 'work'%>selected_page<% end %>">
        <a href="/work">Work</a>
      </li>
      <li class="<% if controller.controller_name == 'services'%>selected_page<% end %>">
        <a href="/services">Services</a>
      </li>
      <li class="<% if controller.controller_name == 'contact'%>selected_page<% end %>">
        <a href="/contacts/new">Contact</a>
      </li>
      <li class="<% if controller.controller_name == 'sessions'%>selected_page<% end %>">
        <% if user_signed_in? %>  
          <%= link_to "Sign out", destroy_user_session_path %>  
        <% else %>  
          <%# link_to "Sign up", new_user_registration_path %>  
          <%= link_to "Login", new_user_session_path %> 
          <%# current_user.email %> 
        <% end %>
      </li>
    </ul><!-- /.main_menu -->  
  </div><!-- /.header_content --> 
  <% if user_signed_in? %>
    <div class="subnav">
      <span>Welcome back, <%= current_user.email %>!</span>
    </div>
  <% end %>   	
</div><!-- /.HEADER -->
