<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
	<title>Creative Portfolio - About us</title>
    <meta name="author" content="WebCrafters"/>
    <meta name="description" content="A short description of your company" />
    <meta name="keywords" content="Some keywords that best describe your business. Try to use these words in the texts from the page" />
    <meta name="language" content="english" />
	<link rel="icon" type="image/ico" href="images/favicon.ico"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/global.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/color_wine.css" />
	<script type="text/javascript" src="/javascripts/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/cufon-yui.js"></script>
    <script type="text/javascript" src="/javascripts/custom.font.js"></script>
    <!--[if IE 6]><link type="text/css" rel="stylesheet" href="/stylesheets/ie6.css" /><![endif]--> 
</head>

<body>
	
    <div class="header">
    	<div class="header_content">
        	<a href="index.html"><img class="logo png" width="184" height="40" src="images/logo.png" alt="Creative Juice" title="Go to Homepage" /></a>
            <!-- .logo -->  
            
            <ul class="main_menu">
            	<li><a class="homepage" href="/"></a></li>
            	<li class="selected_page">
                	<div class="selected">
                		<div class="selected_left"></div>
                    	<div class="selected_middle">
                    	<a href="about us.html">About us</a>
                		</div>
                   		<div class="selected_right"></div>
                    </div>
                </li>
                <li><a href="work.html">Work</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        	<!-- .main_menu -->  
        </div>
        <!-- .header_content -->    	
    </div>
	<!-- .HEADER -->

    <div class="secondary_page_bg">
    	<div class="category_illustration">
        	<div class="punchline_about">
            	<h2>Need a web application or screencast?</h2>
              <p>We kill it, so you can eat</p>
            </div>
            
            <img class="drawing_tablet" src="images/drawing_tablet.png" width="317" height="159" alt="About us" />
        </div>
		<!-- .project -->
    </div>
    <!-- .LATEST_PROJECT -->
    
    <div class="sec_menu">
    	<div class="sec_menu_content">
        	<div class="social_header_links">
            	<div class="follow_us">Follow us on:</div>
                <ul class="about_social_network">
                  <li><a class="twitter_header" href="#"></a></li>
                	<li><a class="flickr_header" href="#"></a></li>
                	<li><a class="linkedin_header" href="#"></a></li>
                	<li><a class="facebook_header" href="#"></a></li>
                </ul>
            </div>
        </div>
        <!-- .sec_menu_content -->
    </div>
    <!-- .SEC_MENU -->
    
    <div class="content">
    	<div class="secondary_pages_content">
    		  <!--
    		  <img class="newspaper_icon png" width="83" height="67" src="images/ps_ai_icons.jpg" alt="About us" />
    		  -->
          <h1>We are RedGrind</h1>
            <p class="subtitle">a web application and screencasting boutique</p>
            <div class="clear_container"></div>
            
            <div class="two_columns">
            	<div class="text">
                    <h5>About Us</h5>
                    <p>Mark Holton</p>
                </div>
                
                <div class="services_we_offer">
                	<h5>The services we offer</h5>
                    <p>We can help you in the following domains:</p> 
                    <div class="box">
                    	<div class="box_top"></div>
                        <div class="box_middle">
                        	<ul class="third_menu">
                            <li><a href="services.html">Web Application Development</a></li>
                            <li class="first"><a href="services.html">Screencast Production</a></li>
                          </ul>
                        </div>
                        <div class="box_bottom"></div>
                    </div>
                    <!-- box -->
                </div>
            </div>
            <!-- two_columns -->
            <div class="clear_container"></div>
            
            <br /><br />
            <div class="one_column">
                <h1>Here's how we roll</h1>
                <p class="subtitle">our process:</p>
                <img class="the_process" src="images/the_process.jpg" alt="The process we follow" title="The process" />
            </div>
           	<div class="clear_container"></div>
            
            <br /><br />
            <img class="newspaper_icon png" width="83" height="67" src="images/award_icon.jpg" alt="Awards" />
            <h1>Awards &amp; Recognition</h1>
            <p class="subtitle">We hate awards but we had to win a few for our clients :p</p>
            <div class="clear_container"></div>
            
            <div class="two_columns">
            	<div class="text">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                </div>
                
                <div class="services_we_offer">
                	<h5>Client Testimonials</h5>
                    <div class="box">
                    	<div class="box_top"></div>
                        <div class="box_middle">
                        	<div class="testimonials">
                                <img class="cite_icon png" src="images/cite_icon.png" width="21" height="19" alt="Citation" />
                                <cite>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</cite>
                                <h6 class="testimonial_name">Jonathan Doe, Software Company</h6>
                                <div class="clear_container"></div>
                            </div>
                        </div>
                        <div class="box_bottom"></div>
                    </div>
                    <!-- box --> 
                </div>
            </div>
            <!-- two_columns -->
            <div class="clear_container"></div>
            
		</div>
        <!-- secondary_pages_content -->
        
        <div class="clear_container"></div>
        
    </div>
    <!-- .CONTENT -->
    
    <div class="footer">
    	<div class="footer_content">
        	<div class="footer_left">
        		<p>SITE DESIGN © 2009-2010 Creative juice, inc&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;all rights reserved</p>
            	<a class="rss" href="">subscribe to our rss feed</a>
            </div>
            <!-- .footer_left -->
            
            <div class="footer_right">
            	<p><a href="#">privecy statement</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">terms &amp; conditions</a></p>
            </div>
            <!-- .footer_right -->
            
        </div>
        <!-- .footer_content -->
    </div>
    <!-- .FOOTER -->
    
    <script type="text/javascript">
		Cufon.replace('h1');
    	Cufon.replace('h2');
		Cufon.replace('.category_illustration p');
		document.getElementById('project_title').style.fontSize='42px';
    </script>
    
</body>
</html>
