<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
	<title>Creative Portfolio - Contact</title>
    <meta name="author" content="WebCrafters"/>
    <meta name="description" content="A short description of your company" />
    <meta name="keywords" content="Some keywords that best describe your business. Try to use these words in the texts from the page" />
    <meta name="language" content="english" />
	<link rel="icon" type="image/ico" href="images/favicon.ico"/>
    <link type="text/css" rel="stylesheet" href="css/global.css" />
    <link type="text/css" rel="stylesheet" href="css/color_wine.css" />
	<script type="text/javascript" src="js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="js/cufon-yui.js"></script>
    <script type="text/javascript" src="js/custom.font.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <!--[if IE 6]><link type="text/css" rel="stylesheet" href="css/ie6.css" /><![endif]--> 
</head>

<body>
	
    <div class="header">
    	<div class="header_content">
        	<a href="index.html"><img class="logo png" width="184" height="40" src="images/logo.png" alt="Creative Juice" title="Go to Homepage" /></a>
            <!-- .logo -->  
            
            <ul class="main_menu">
            	<li><a class="homepage" href="index.html"></a></li>
            	<li><a href="about us.html">About us</a></li>
                <li><a href="work.html">Work</a></li>
                <li><a href="services.html">Services</a></li>
                <li class="selected_page">
                	<div class="selected">
                		<div class="selected_left"></div>
                    	<div class="selected_middle">
                    	<a href="contact.html">Contact</a>
                		</div>
                   		<div class="selected_right"></div>
                    </div>
                </li>
            </ul>
        	<!-- .main_menu -->  
        </div>
        <!-- .header_content -->    	
    </div>
	<!-- .HEADER -->
	
    <div class="secondary_page_bg">
    	<div class="category_illustration">
        	<div class="punchline_contact">
            	<h2>Please contact us using the form below</h2>
                <p>We answer every single message. We promise.</p>
            </div>
            
            <img class="phone" src="images/phone.png" width="216" height="159" alt="Contact" />
        </div>
		<!-- .project -->
    </div>
    <!-- .LATEST_PROJECT -->
    
    <div class="sec_menu">
    	<div class="sec_menu_content">
        	<ul class="secondary_menu secondary_menu_contact">
            	<li><span>Our Address:</span> 345 Lincoln Park Ave. San Jose, CA</li>
                <li><span>Phone:</span> (800) 833 - 6687  </li>
                <li><span>Email:</span> contact@softco.net</li>
            </ul>
        </div>
        <!-- .sec_menu_content -->
    </div>
    <!-- .SEC_MENU -->
    
    <div class="content">
    	<div class="secondary_pages_content">
        	<h1>Have a project for us?</h1>
            <p class="subtitle">Get in touch and we'll send you a quote</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. Ever since the 1500s, when an unknown printer took. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. Ever since the 1500s, when an unknown printer took.</p>

			<div class="contact_box">
            	<div class="contact_box_top"></div>
                <div class="contact_box_middle">
                	<form action="" method="post" class="ajax_form" enctype="multipart/form-data">
                        <table class="contact_form" cellpadding="0" cellspacing="0">
                            <tr>
                                <td style="width:461px">
                                	<label for="name">Your name (required):</label>
                                    <div class="form_input odd">
                                    	<div class="input_left"></div>
                                        <input name="yourname" id="name" class="input_middle required" type="text" />
                                        <div class="input_right"></div>
                                    </div>
                                </td>
                                
                                <td style="width:461px">
                                	<label for="email">Your email (required):</label>
                                    <div class="form_input">
                                    	<div class="input_left"></div>
                                        <input name="email" id="email" class="input_middle required" type="text" />
                                        <div class="input_right"></div>
                                    </div>
                                </td>
                            </tr>
                            
                            <tr>
                                <td style="width:461px">
                                	<label for="phone">Your phone number:</label>
                                    <div class="form_input odd">
                                    	<div class="input_left"></div>
                                        <input name="phone" id="phone" class="input_middle" type="text" />
                                        <div class="input_right"></div>
                                    </div>
                                </td>
                                
                                <td style="width:461px">
                                	<label for="company">Your company:</label>
                                    <div class="form_input">
                                    	<div class="input_left"></div>
                                        <input name="company" id="company" class="input_middle" type="text" />
                                        <div class="input_right"></div>
                                    </div>
                                </td>
                            </tr>
                            
                            <tr>
                                <td style="width:461px">
                                	<label for="budget">Your budget:</label>
                                    <div class="form_input odd">
                                    	<div class="input_left"></div>
                                        <input name="Budget" id="budget" class="input_middle" type="text" />
                                        <div class="input_right"></div>
                                    </div>
                                </td>
                                
                                <td style="width:461px">
                                	<label for="deadline">Deadline:</label>
                                    <div class="form_input">
                                    	<div class="input_left"></div>
                                        <input name="Deadline" id="deadline" class="input_middle" type="text" />
                                        <div class="input_right"></div>
                                    </div>
                                </td>
                            </tr>
                            
                            <tr>
                            	<td style="width:922px" colspan="2">
                                	<label for="deadline">Your message:</label>
                                	<div class="form_textarea">
                                    	<div class="textarea_left"></div>
                                        <textarea name="message" id="message" class="textarea_middle required" rows="5" cols="103"></textarea>
                                        <div class="textarea_right"></div>
                                    </div>
                                </td>
                            </tr>
                            
                            <tr>
                            	<td style="width:922px" colspan="2">
                                	<input id="send" type="submit" class="submit" value="" />
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="contact_box_bottom"></div>
            </div>
            <!-- contact_box -->
		</div>
        <!-- secondary_pages_content -->
        
        <div class="clear_container"></div>
        <br /><br />
        
    </div>
    <!-- .CONTENT -->
    
    <div class="footer">
    	<div class="footer_content">
        	<div class="footer_left">
        		<p>SITE DESIGN © 2009-2010 Creative juice, inc&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;all rights reserved</p>
            	<a class="rss" href="">subscribe to our rss feed</a>
            </div>
            <!-- .footer_left -->
            
            <div class="footer_right">
            	<p><a href="#">privecy statement</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">terms &amp; conditions</a></p>
            </div>
            <!-- .footer_right -->
            
        </div>
        <!-- .footer_content -->
    </div>
    <!-- .FOOTER -->
    
    <script type="text/javascript">
		Cufon.replace('h1');
    	Cufon.replace('h2');
		Cufon.replace('.category_illustration p');
		document.getElementById('project_title').style.fontSize='42px';
    </script>
    
</body>
</html>
