<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
	<title>Creative Portfolio - Homepage</title>
    <meta name="author" content="WebCrafters"/>
    <meta name="description" content="A short description of your company" />
    <meta name="keywords" content="Some keywords that best describe your business. Try to use these words in the texts from the page" />
    <meta name="language" content="english" />
	  <link rel="icon" type="image/ico" href="images/favicon.ico"/>
    <link type="text/css" rel="stylesheet" href="css/global.css" />
    <link type="text/css" rel="stylesheet" href="css/color_wine.css" />
    <script type="text/javascript" src="js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="js/jquery.jparallax.js"></script>
    <script type="text/javascript" src="js/tabsslider.js"></script>
    <script type="text/javascript" src="js/cufon-yui.js"></script>
    <script type="text/javascript" src="js/custom.font.js"></script>
    <!--[if IE 6]><link type="text/css" rel="stylesheet" href="css/ie6.css" /><![endif]--> 

	<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('.parallax').jparallax({});
    });
    </script>

  
</head>

<body>
	
    <div class="header">
    	<div class="header_content">
        	<a href="index.html"><img class="logo png" width="184" height="40" src="images/logo.png" alt="Creative Juice" title="Go to Homepage" /></a>
            <!-- .logo -->  
            
            <ul class="main_menu">
            	<li class="selected_page">
                	<div class="selected">
                		<div class="selected_left"></div>
                    	<div class="selected_middle">
                			<a class="homepage" href="index.html"></a>
                        </div>
                   		<div class="selected_right"></div>
                    </div>
                </li>
            	<li><a href="about us.html">About us</a></li>
                <li><a href="work.html">Work</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        	<!-- .main_menu -->  
        </div>
        <!-- .header_content -->    	
    </div>
	<!-- .HEADER -->
	
    <div class="latest_project">
    	<div class="project">
      
			<div class="tabb displayslide" id="slide1">      
				<div class="project_table">
					<div class="project_text_left"> 
						<h1>Latest Project</h1>
						<p>Description of our latest design work. In search of Earth, flying in to the night. Ulysses, Ulysses you fighting evil &amp; tyranny, with all his power, and with all of his might.</p>
						<a class="view_proiect" href="work.html"></a>
					</div>
                     <!-- .project_text_left -->
                       
					<div class="project_screens">
						<div class="phones parallax">
							<div style="width:131px; height:223px;">
								<img src="images/third_phone.png" style="position: absolute; right: 120px; top: 28px;" alt="Project screen" />
							</div>
							
							<div style="width:171px; height:292px;">
								<img src="images/second_phone.png" style="position:absolute; right: 33px; top: 17px;" alt="Project screen" />
							</div>
							
							<div style="width:212px; height:367px;">
								<img src="images/first_phone.png" style="position:absolute; left:71px; top:3px;" alt="Project screen" />
							</div>
						</div>
					</div>
                    <!-- .project_screens -->
				</div>
                <!-- .project_table -->
            </div>
			<!-- #slide1 -->
            	
			<div class="tabb displaynone" id="slide2">      
				<div class="project_table">
					<div class="project_screens">
						<div class="web_projects parallax">
							<div style="width:213px; height:189px;">
								<img src="images/window3.png" style="position:absolute; right:124px; top:30px;" alt="Project name" />
							</div>
							
							<div style="width:284px; height:252px;">
								<img src="images/window2.png" style="position:absolute; right:35px;; top:28px;" alt="Project name" />
							</div>
							
							<div style="width:352px; height:310px;">
								<img src="images/window1.png" style="position: absolute; left:74px; top:23px;" alt="Project name" />
							</div>
						</div>
					</div>
					<!-- .project_screens -->
                        
					<div class="project_text_right"> 
						<h1>Latest Project</h1>
						<p>Description of our latest design work. In search of Earth, flying in to the night. Ulysses, Ulysses you fighting evil tyranny, with all his power, and with all of his might.</p>
						<a class="view_proiect" href="work.html"></a>
					</div>
					<!-- .project_text_right -->
				</div>  
                <!-- .project_table -->
			</div>
            <!-- #slide2 -->
            
			<div class="tabb displaynone" id="slide3">      
				<div class="project_table">
					<div class="project_text_left"> 
						<h1>Latest Project</h1>
						<p>Description of our latest design work. In search of Earth, flying in to the night. Ulysses, Ulysses you fighting evil &amp; tyranny, with all his power, and with all of his might.</p>
						<a class="view_proiect" href="work.html"></a>
					</div>
                     <!-- .project_text_left -->
                       
					<div class="project_screens">
						<div class="phones parallax">
							<div style="width:131px; height:223px;">
								<img src="images/third_phone.png" style="position: absolute; right: 120px; top: 28px;" alt="Project screen" />
							</div>
							
							<div style="width:171px; height:292px;">
								<img src="images/second_phone.png" style="position:absolute; right: 33px; top: 17px;" alt="Project screen" />
							</div>
							
							<div style="width:212px; height:367px;">
								<img src="images/first_phone.png" style="position:absolute; left:71px; top:3px;" alt="Project screen" />
							</div>
						</div>
					</div>
                    <!-- .project_screens -->
				</div>
                <!-- .project_table -->
           	</div>
           	<!-- #slide3 -->
       		
			<div class="tabb displaynone" id="slide4">      
				<div class="project_table">
					<div class="project_screens">
						<div class="web_projects parallax">
							<div style="width:213px; height:189px;">
								<img src="images/window3.png" style="position:absolute; right:124px; top:30px;" alt="Project name" />
							</div>
							
							<div style="width:284px; height:252px;">
								<img src="images/window2.png" style="position:absolute; right:35px;; top:28px;" alt="Project name" />
							</div>
							
							<div style="width:352px; height:310px;">
								<img src="images/window1.png" style="position: absolute; left:74px; top:23px;" alt="Project name" />
							</div>
						</div>
					</div>
					<!-- .project_screens -->
                        
					<div class="project_text_right"> 
						<h1>Latest Project</h1>
						<p>Description of our latest design work. In search of Earth, flying in to the night. Ulysses, Ulysses you fighting evil tyranny, with all his power, and with all of his might.</p>
						<a class="view_proiect" href="work.html"></a>
					</div>
					<!-- .project_text_right -->
				</div>  
                <!-- .project_table -->
			</div>
            <!-- #slide4 -->
             
			<div class="tabb displaynone" id="slide5">      
				<div class="project_table">
					<div class="project_text_left"> 
						<h1>Latest Project</h1>
						<p>Description of our latest design work. In search of Earth, flying in to the night. Ulysses, Ulysses you fighting evil &amp; tyranny, with all his power, and with all of his might.</p>
						<a class="view_proiect" href="work.html"></a>
					</div>
                     <!-- .project_text_left -->
                       
					<div class="project_screens">
						<div class="phones parallax">
							<div style="width:131px; height:223px;">
								<img src="images/third_phone.png" style="position: absolute; right: 120px; top: 28px;" alt="Project screen" />
							</div>
							
							<div style="width:171px; height:292px;">
								<img src="images/second_phone.png" style="position:absolute; right: 33px; top: 17px;" alt="Project screen" />
							</div>
							
							<div style="width:212px; height:367px;">
								<img src="images/first_phone.png" style="position:absolute; left:71px; top:3px;" alt="Project screen" />
							</div>
						</div>
					</div>
                    <!-- .project_screens -->
				</div>
                <!-- .project_table -->  
			</div>			 
			<!-- #slide5 -->
            
        </div>
		<!-- .project -->
    </div>
    <!-- .LATEST_PROJECT -->
    
    <div class="sec_menu">
    	<div class="sec_menu_content">
        	<div class="previous_button">
               	<a class="previous" href="javascript:void(0);" onclick="prevSlide();"></a>
            </div>
            <!-- .previous_button -->
                    
            <div class="tabbicos float_left">
            	<ul class="project_bubles">
					<li><a href="javascript:void(0);"  id="slide-tab1" onclick="changeSlide2this(1);" class="active" >&nbsp;</a></li>
					<li><a href="javascript:void(0);"  id="slide-tab2" onclick="changeSlide2this(2);" >&nbsp;</a></li>
					<li><a href="javascript:void(0);"  id="slide-tab3" onclick="changeSlide2this(3);" >&nbsp;</a></li>
					<li><a href="javascript:void(0);"  id="slide-tab4" onclick="changeSlide2this(4);" >&nbsp;</a></li>
					<li><a href="javascript:void(0);"  id="slide-tab5" onclick="changeSlide2this(5);" >&nbsp;</a></li>
                </ul>
				<div style="clear:both;"></div>
            </div>
            <!-- .tabbicos -->
                    
            <div class="next_button" style="width:71px">
               	<a class="next" href="javascript:void(0);" onclick="nextSlide();"></a>
            </div>
            <!-- .next_button -->
                
            <div class="clear_container"></div>        	           
        </div>
        <!-- .sec_menu_content -->
    </div>
    <!-- .SEC_MENU -->
    
    <div class="content">
    	<div class="content_left">
    		<img class="newspaper_icon png" width="63" height="53" src="images/newspaper_icon.png" alt="News &amp; Highlights" />
            <h2>News &amp; Highlights</h2>
            <p class="subtitle">What we’ve been up to lately</p>
            <div class="clear_container"></div>
            
            <h6>@Twitter Commenter</h6>
            <p>We’ve just finished the new awesome project. It has been a great time for us these months.</p>
            
            <h6>Our new Blog is NOW LIVE</h6>
            <p>The new blog is up and running. Enjoy guys!</p>
		</div>
        <!-- content_left -->
        
        <div class="content_middle">
    		<img class="newspaper_icon png" width="63" height="53" src="images/clients_icon.png" alt="Clients &amp; Testimonials" />
            <h2>Clients &amp; Testimonials</h2>
            <p class="subtitle">What others have to say about us</p>
            <div class="clear_container"></div>
            
            <img class="cite_icon png" src="images/cite_icon.png" width="21" height="19" alt="Citation" />
            <cite>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</cite>
            <h6 class="testimonial_name">Jonathan Doe, Software Company</h6>
            <div class="clear_container"></div>
		</div>
        <!-- content_left -->
        
        <div class="content_right">
        	<ul>
    			<li><a class="social_networking_link" href="#" title="Behance"><img src="images/behance.jpg" alt="Behance" /></a></li>
           		<li><a class="social_networking_link" href="#" title="flickr"><img src="images/flickr.jpg" alt="flickr" /></a></li>
            	<li><a class="social_networking_link" href="#" title="facebook"><img src="images/facebook.jpg" alt="facebook" /></a></li>
            	<li><a class="social_networking_link" href="#" title="LinkediIn"><img src="images/linkedin.jpg" alt="LinkedIn" /></a></li>
            	<li><a class="social_networking_link" href="#" title="Krop"><img src="images/krop.jpg" alt="Krop" /></a></li>
            	<li><a class="social_networking_link" href="#" title="twitter"><img src="images/twitter.jpg" alt="twitter" /></a></li>
            </ul>
		</div>
        <!-- content_left -->
        
        <div class="clear_container"></div>
        
    </div>
    <!-- .CONTENT -->
    
    <div class="footer">
    	<div class="footer_content">
        	<div class="footer_left">
        		<p>SITE DESIGN © 2009-2010 Creative juice, inc&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;all rights reserved</p>
            	<a class="rss" href="">subscribe to our rss feed</a>
            </div>
            <!-- .footer_left -->
            
            <div class="footer_right">
            	<p><a href="#">privecy statement</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">terms &amp; conditions</a></p>
            </div>
            <!-- .footer_right -->
            
        </div>
        <!-- .footer_content -->
    </div>
    <!-- .FOOTER -->
    
    <script type="text/javascript">
		Cufon.replace('h1');
    	Cufon.replace('h2');
		Cufon.replace('');
    </script>
    
</body>
</html>
