<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <%= render 'layouts/head_content' %>
</head>

<body>
	
    <div class="header">
    	<div class="header_content">
        	<a href="index.html"><img class="logo png" width="184" height="40" src="images/logo.png" alt="Creative Juice" title="Go to Homepage" /></a>
            <!-- .logo -->  
            
            <ul class="main_menu">
            	<li><a class="homepage" href="index.html"></a></li>
            	<li><a href="about us.html">About us</a></li>
                <li><a href="work.html">Work</a></li>
                <li class="selected_page">
                	<div class="selected">
                		<div class="selected_left"></div>
                    	<div class="selected_middle">
                    	<a href="services.html">Services</a>
                		</div>
                   		<div class="selected_right"></div>
                    </div>
                </li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        	<!-- .main_menu -->  
        </div>
        <!-- .header_content -->    	
    </div>
	<!-- .HEADER -->
	
    <div class="secondary_page_bg">
    	<div class="category_illustration">
        	<div class="punchline_services">
            	<h2>Creativity is the main service that we offer</h2>
                <p>We take care of your webdesign &amp; online development needs</p>
            </div>
            
            <img class="mouse" src="images/mouse.png" width="242" height="142" alt="About us" />
        </div>
		<!-- .project -->
    </div>
    <!-- .LATEST_PROJECT -->
    
    <div class="sec_menu">
    	<div class="sec_menu_content">
        	<ul class="secondary_menu secondary_menu_services">
            	<li><span>Our Services:</span></li>
                <li class="sec_menu_selected">
                	<div class="sec_menu_selected_left"></div>
                    <div class="sec_menu_selected_middle">All services</div>
                    <div class="sec_menu_selected_right"></div>
                </li>
                <li><a href="#">Internet Marketing</a></li>
                <li><a href="#">Webdesign</a></li>
                <li><a href="#">Brand Identity</a></li>
                <li><a href="#">Print Media</a></li>
            </ul>
        </div>
        <!-- .sec_menu_content -->
    </div>
    <!-- .SEC_MENU -->
    
    <div class="content">
    	<div class="secondary_pages_content">
        	<div class="one_column">
            	<h1>We offer professional services</h1>
            	<p class="subtitle">Best thing since sliced bread</p>
                <div class="large_box">
                	<a class="contact_for_quote" href="contact.html"></a>
                    <div class="large_box_top"></div>
                    <div class="large_box_middle">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. Ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                    <div class="large_box_bottom"></div>
                </div>
                <!-- .large_box -->
                <div class="clear_container"></div>
            </div>
            
            
            <div class="two_columns">
            	<div class="service">
                	<img class="services_icon" src="images/internet_marketing_icon.jpg" alt="Internet Marketing" />
                    <div class="service_text">
                        <h5>Internet Marketing</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy and scrambled it to make a type specimen book. It has survived not only five centuries.</p> 
                        <p>But also the leap into electronic typesetting, remaining essentially unchanged orem Ipsum has been the industry's standard dummy text ever since the beggining. </p>
                        <a class="related_projects" href="work.html">View related projects</a>
                    </div>
                </div>
                <!-- .service -->
                
                <div class="service services_no_margin">
                	<img class="services_icon" src="images/website_design_icon.jpg" alt="Internet Marketing" />
                    <div class="service_text">
                        <h5>Website design &amp; Development</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy and scrambled it to make a type specimen book. It has survived not only five centuries.</p> 
                        <p>But also the leap into electronic typesetting, remaining essentially unchanged orem Ipsum has been the industry's standard dummy text ever since the beggining. </p>
                        <a class="related_projects" href="work.html">View related projects</a>
                    </div>
                </div>
                <!-- .service -->
                <div class="clear_container"></div>
                
                <div class="service">
                	<img class="services_icon" src="images/brand_identity_icon.jpg" alt="Internet Marketing" />
                    <div class="service_text">
                        <h5>Brand Identity</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy and scrambled it to make a type specimen book. It has survived not only five centuries.</p> 
                        <p>But also the leap into electronic typesetting, remaining essentially unchanged orem Ipsum has been the industry's standard dummy text ever since the beggining. </p>
                        <a class="related_projects" href="work.html">View related projects</a>
                    </div>
                </div>
                <!-- .service -->
                
                <div class="service services_no_margin">
                	<img class="services_icon" src="images/print_media_icon.jpg" alt="Internet Marketing" />
                    <div class="service_text">
                        <h5>Print Media</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy and scrambled it to make a type specimen book. It has survived not only five centuries.</p> 
                        <p>But also the leap into electronic typesetting, remaining essentially unchanged orem Ipsum has been the industry's standard dummy text ever since the beggining. </p>
                        <a class="related_projects" href="work.html">View related projects</a>
                    </div>
                </div>
                <!-- .service -->
                <div class="clear_container"></div>
                <br /><br />
            </div>
            <!-- two_columns -->
            
           
            
		</div>
        <!-- secondary_pages_content -->
        
        <div class="clear_container"></div>
        
    </div>
    <!-- .CONTENT -->
    
    <div class="footer">
    	<div class="footer_content">
        	<div class="footer_left">
        		<p>SITE DESIGN © 2009-2010 Creative juice, inc&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;all rights reserved</p>
            	<a class="rss" href="">subscribe to our rss feed</a>
            </div>
            <!-- .footer_left -->
            
            <div class="footer_right">
            	<p><a href="#">privecy statement</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">terms &amp; conditions</a></p>
            </div>
            <!-- .footer_right -->
            
        </div>
        <!-- .footer_content -->
    </div>
    <!-- .FOOTER -->
    
    <script type="text/javascript">
		Cufon.replace('h1');
    	Cufon.replace('h2');
		Cufon.replace('.category_illustration p');
		document.getElementById('project_title').style.fontSize='42px';
    </script>
    
</body>
</html>
