<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <%= render 'layouts/head_content' %>
</head>

<body>
	
    <div class="header">
    	<div class="header_content">
        	<a href="index.html"><img class="logo png" width="184" height="40" src="images/logo.png" alt="Creative Juice" title="Go to Homepage" /></a>
            <!-- .logo -->  
            
            <ul class="main_menu">
            	<li><a class="homepage" href="index.html"></a></li>
            	<li><a href="about us.html">About us</a></li>
                <li><a href="work.html">Work</a></li>
                <li class="selected_page">
                	<div class="selected">
                		<div class="selected_left"></div>
                    	<div class="selected_middle">
                    	<a href="services.html">Services</a>
                		</div>
                   		<div class="selected_right"></div>
                    </div>
                </li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        	<!-- .main_menu -->  
        </div>
        <!-- .header_content -->    	
    </div>
	<!-- .HEADER -->

    
    <div class="footer">
    	<div class="footer_content">
        	<div class="footer_left">
        		<p>SITE DESIGN © 2009-2010 Creative juice, inc&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;all rights reserved</p>
            	<a class="rss" href="">subscribe to our rss feed</a>
            </div>
            <!-- .footer_left -->
            
            <div class="footer_right">
            	<p><a href="#">privecy statement</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">terms &amp; conditions</a></p>
            </div>
            <!-- .footer_right -->
            
        </div>
        <!-- .footer_content -->
    </div>
    <!-- .FOOTER -->
    
    <script type="text/javascript">
		Cufon.replace('h1');
    	Cufon.replace('h2');
		Cufon.replace('.category_illustration p');
		document.getElementById('project_title').style.fontSize='42px';
    </script>
    
</body>
</html>
